@font-face {
    font-family: my font;
    src: url(Tarrget1.otf);
}


body{
    background-color: rgb(3, 9, 29);
    background-image: url(2ewe.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  

}

::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #01f7ff;
    border-radius: 6px;
}

:root{

    --primary-color: #050e2d;
    --secondry-color: #81ef1a;
    --pbcolor: #da2c00;
    --mcolor:#eb1515;
    --fcolor: #78ff43;
}

.dark-theme{
    --primary-color:black;
    --secondry-color: #f3f3f5;
    --pbcolor:#f3f3f5;
    --mcolor:#f3f3f5;
    --fcolor: white;
}


#icon{
    width: 50px;
    cursor: pointer;
   
}
#icon:hover{
    background-color:var(--mcolor);
    box-shadow: 0 0 10px var(--mcolor);
    border-radius: 10px;
}

header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 8PX 45px;
display: flex;
justify-content: space-between;
align-items: center;
background:var( --primary-color);
transition: 0.5ms;
z-index: 1000;     
}

header .logo{
    background-attachment: fixed;
    font-family: my font;
    position: relative;
    color: #df0000;
   -webkit-text-stroke: 0.5px black;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

header .Navi{
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin: 8px;
}

header ul li a {
    font-family: 'Victor Mono';
    color: white;
    text-decoration: none;
    padding: 15PX 8px;
    border-radius: 5px;

}
header ul li a:hover{
    background: var(--secondry-color);
    color: black;
    box-shadow: 0 0 10px var(--secondry-color);
}

header .action .searchbox{
    padding: 3px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
}
header .action .searchbox i{
    font-size: 1.5em;
    margin: 5px;
    color: #222;
}
header .action .searchbox  input{
    outline: none;
    border: none;
    font-size: 1em;
    color: #130101;
}
/* FAQS page*/

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

section .title h1{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    font-family: 'Raleway';
    padding: 90px 200px;
    width: 50%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
   
}

.acordion-itms{
    
    background-color: rgb(17, 11, 7);
    border-radius: 1px;
    margin-bottom: 5px;
    padding: 10px 5px;
    box-shadow: 5px 2px 5px rgb(255, 200, 183);
}

.acordion-link{
  
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
   
}

.acordion-link {
    color: var(--fcolor);
    padding: 10px;  
}

.acordion-link .bxs-plus-circle{
    display: none;
}

.answer{
   
   position: relative;
   transition: 650ms;
}

.answer::before{
   
    content: "";
    position: absolute;
    width: 10px;
    height: 90%;
    background-color: var(--fcolor);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #01f7ff;
   
}

.answer p{
    font-size: 15px;
    color: #fff;
    padding-left: 2rem;
}

.bxs-plus-circle{
    color: var(--fcolor);
}








